/* General layout */
body, html {
    margin: 0;
    padding: 0;
    display: inline-flex;
    flex-direction: column;
    height: 100vh;
    font-family: Arial, sans-serif;
}
.slideshow-container {
    flex: 2;
    position: relative;
    background-color: #313338;
    overflow: hidden;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.slideshow-container img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    position: absolute;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}
.slideshow-container img.active {
    opacity: 1;
}

.timer-container {
    flex: 1;
    background-color: #313338;
    display: none; /* Initially hidden */
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.timer-display {
    font-size: 8vw;
    margin-bottom: 5vh;
    text-shadow: 1px 1px 0 white, -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white;
}
.timer-buttons {
    display: inline-block;
    padding: 10px 20px;
    margin: 2px;
    font-size: 1vw;
}
.timer-buttons button {
    padding: 10px 20px;
    margin: 2px;
    font-size: 1vw;
    cursor: pointer;
}